<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 col-sm-1 column">
        </div>
        <div class="col-md-8 col-sm-2 column">
            <div class="row clearfix">
                
                	<input type="text" class="form-control" id="keyword" placeholder="contoh: batu bacan merah dengan harga dibawah sejuta" style="width:100%"/>
                
                
                
            </div>
            <center>
                <button type="button" class="btn btn-default" id="search">Cari</button>
            </center>
        </div>
        <div class="col-md-2 col-sm-1 column">
        </div>
    </div>
</div>
